body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  margin-bottom: 1px;
  justify-content: center;
}

.main-navigation {
  display: flex;
  width: 1200px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
}

.site-navigation a {
  display: block;
  color: #000000;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item {
  display: block;
  margin: 0;
  width: 239px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.site-navigation-item:nth-child(2) {
  margin-right: 244px;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  display: block;
  position: absolute;
  left: auto;
}

.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1px;
  /*временно для сетки*/
  min-height: 1820px;
  outline: 3px dotted pink;
}

.greeting {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4px;
  background-color: #ffffff;
}

.greeting-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 505px;
  background-image: url("../img/background_photo_index.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.greeting-text {
  width: 459px;
  height: 353px;
  background-image: url("../img/intro-welcome.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.greeting-mask {
  position: absolute;
  top: 504px;
  width: 1200px;
  height: 60px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
}

.sedona-text {
  display: block;
  width: 1200px;
  height: 216px;
  text-align: center;
}

.sedona-text h2 {
  margiin: 0;
  margin-top: 61px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sedona-text p {
  margin: 0;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: regular;
  color: #333333;
}

.features {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
  background-color: #ffffff;
/* Временно для сетки */
  min-height: 1098px;
  outline: 3px solid orange;
}

.lookuphotels {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1px;
  background-color: #ffffff;
}

.lookuphotels-text {
  width: 1200px;
  height: 291px;
  display: block;
  text-align: center;
}

.lookuphotels-text h2 {
  margin: 0;
  margin-top: 57px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.lookuphotels-text p {
  margin-bottom: 52px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: regular;
  color: #333333;
}

.search-in-sedona {
  width: 568px;
  height: 86px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #766357;
  border: none;
}

.search-in-sedona:hover,
.search-in-sedona:focus {
  color: #ffffff;
  background-color: #604e43;
}

.search-in-sedona:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-search {
  width: 1200px;
  height: 475px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  background-image: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* Временно для сетки */
  outline: 3px solid orange;
}

/* .modal-map: {
  display: block;
  width: 1200px;
  min-height: 475px;
} */


.search-form {
  width: 568px;
  height: 395px;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  /* Временно для сетки */
  outline: 10px dotted blue;
}

.search-item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search label {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
}

.search input[type="date"] {
  display: inline-block;
  width: 346px;
  height: 38px;
  padding-left: 13px;
  margin-left: 21px;
  margin-top: 55px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.search input[type="date"]:nth-child(2) {
  margin-top: 29px;
}

.search input[type="date"]:hover {
  color: #000000;
  background-color: #ebebeb;
}

.search input[type="date"]:focus {
  color: #000000;
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search input[type="number"] {
  display: inline-block;
  width: 38px;
  height: 38px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.min-max {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin-left: 41px;
  color: #a9a9a9;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.min-max:hover,
.min-max:focus {
  color: #000000;
  background-color: #ffffff;
}

.min-max:active {
  color: #81b3d2;
  background-color: #ffffff;
  outline: none;
}

.search-button {
  display: block;
  margin-left: 55px;
  margin-top: 54px;
  margin-bottom: 55px;
  width: 458px;
  height: 58px;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #81b3d2;
  border: none;
  /* Временно для сетки */
  outline: 3px dotted blue;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}







.container-hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*временно для сетки*/
  min-height: 657px;
  outline: 10px dotted black;
}

.filters {
  width: 1200px;
  height: 217px;
  display: flex;
  margin-bottom: 1px;
  background-image: url("../img/filter_background.jpg");
  background-size: 1200px 217px;
  background-repeat: no-repeat;
  /*временно для сетки*/
  outline: 3px dotted green;
}

.filter-form {
  display: flex;
  justify-content: space-between;
}

.filter-checkbox {
  display: flex;
  justify-content: space-between;
  margin-left: 73px;
  margin-top: 15px;
  width: 528px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-checkbox-left,
.filter-checkbox-right {
  display: block;
}



.filter-checkbox-input {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-checkbox-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.filter-option label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}







.filter-range {
  display: inline-block;
  width: 330px;
  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 38px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.filter-results {
  width: 1200px;
  height: 540px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  /*временно для сетки*/
  outline: 3px dotted red;
}

.results-item {
  width: 1200px;
  display: flex;
  flex-direction: column;
  /*временно для сетки*/
  outline: 3px dotted yellow;
}

.sorting {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  /*временно для сетки*/
  min-height: 82px;
  outline: 3px dotted brown;
}

.sorting-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
    /*временно для сетки*/
  outline: 3px solid green;
}

.sorting-item {
  margin: 0;
  margin-right: 30px;
}

.found {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.sorting-span {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  background-color: #ffffff;
}

.sorting a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: regular;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-style: dotted;
}

.sorting a:focus {
  color: #81b3d2;
  text-decoration: none;
}

.sorting a:hover {
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dotted;
}

.sorting a:active {
  color: #000000;
  text-decoration: none;
}

.hotels-list {
  margin: 0;
  padding: 0;
  width: 1200px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  /*временно для сетки*/
  min-height: 150px;
  outline: 3px dotted black;
}

.hotels-info {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
}

.hotels-info:hover,
.hotels-info:focus {
  color: #81b3d2;
  background-color: #ffffff;
}

.hotels-info:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.hotels-type,
.hotels-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #ffffff;
}

.hotels-item .button {
  display: inline-block;
  width: 110px;
  height: 27px;
  margin-right: 6px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  text-align: center;
}

.hotels-item .button:hover,
.hotels-item .button:focus {
  background-color: #669ec0;
}

.hotels-item .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotels-item .reserve {
  display: inline-block;
  width: 142px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #766357;
  text-align: center;
}

.hotels-item .reserve:hover,
.hotels-item .reserve:focus {
  background-color: #604e43;
}

.hotels-item .reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.reyting {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #f2f2f2;
}





.main-footer {
  margin-top: 1px;
  display: flex;
  justify-content: center;
}

.footer-container {
  padding: 36px 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  background-color: #ffffff;
}

.footer-contacts a {
  width: 135px;
  margin-left: 133px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
}

.footer-social {
  text-align: center;
  width: 149px;
  margin-left: 257px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 149px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.socal-button:focus {
  background-color: #669ec0;
}

.social-button:active path {
  background-color: #5496bd;
  fill: rgba(136, 182, 209, 0.3);
}

.footer-copyright {
  display: flex;
  width: 190px;
  margin-left: 229px;
}

.copyright-button {
  display: flex;
  justify-content: space-between;
  color: #000000;
}

.button-text {
  display: flex;
  align-items: center;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: regular;
  text-transform: uppercase;
}

.button-image {
  display: block;
  justify-content: center;
  align-items: center;
  margin-left: 6px;
  width: 115px;
  height: 41px;
}

.button-image:hover path {
  fill: #81b3d2;
}

.button-image:active path {
  fill: #bdbbbc;
}
