body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  background-color: #ffffff;
  background-position: top center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  display: flex;
  margin-bottom: 1px;
  justify-content: center;
  /*временно для сетки*/
  outline: 3px solid red;
}

.main-navigation {
  display: flex;
  width: 1200px;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  background-color: #ffffff;
 /* Временно для сетки */
   background-color: transparent;
   outline: 3px solid green;
}

.site-navigation {
  margin: 0;
  padding: 0;
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  list-style: none;
  /* Временно для сетки */
  outline: 3px solid brown;
}

.site-navigation a {
  display: block;
  color: #000000;
}

.site-navigation a:focus {
  color: #766357;
}

.site-navigation a:hover {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-item {
  display: block;
  margin: 0;
  width: 239px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  /* Временно для сетки */
  outline: 3px solid brown;
}

.site-navigation-item:nth-child(2) {
  margin-right: 244px;
}

.main-header-logo {
  width: 140px;
  height: 72px;
  display: block;
  position: absolute;
  left: auto;
  /* Временно для сетки */
  outline: 3px solid blue;
}

.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 1px;
  /*временно для сетки*/
  min-height: 1820px;
  outline: 3px dotted pink;
}

.greeting {
  width: 1200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 4px;
/* Временно для сетки */
  min-height: 717px;
  outline: 3px solid brown;
}

.greeting-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1200px;
  height: 505px;
  background-image: url("../img/background_photo_index.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  /* Временно для сетки */
  outline: 3px solid blue;
}

.greeting-text {
  width: 459px;
  height: 353px;
  background-image: url("../img/intro-welcome.svg");
  background-repeat: no-repeat;
  background-position: center center;
  /* Временно для сетки */
  outline: 3px solid black;
}

.greeting-mask {
  position: absolute;
  top: 504px;
  width: 1200px;
  height: 60px;
  background-image: url("../img/intro-mask.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  /* Временно для сетки */
  outline: 3px solid pink;
}

.sedona-text {
  display: block;
  width: 1200px;
  height: 216px;
  text-align: center;
  /* Временно для сетки */
  outline: 3px dotted red;
}

.sedona-text h2 {
  margiin: 0;
  margin-top: 61px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.sedona-text p {
  margin: 0;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: regular;
  color: #333333;
}

.features {
  width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 2px;
/* Временно для сетки */
  min-height: 1098px;
  outline: 3px solid orange;
}

.lookuphotels {
  width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1px;
  /* Временно для сетки */
  outline: 3px solid black;
}

.lookuphotels-text {
  width: 1200px;
  height: 291px;
  display: block;
  text-align: center;
  /* Временно для сетки */
  outline: 3px dotted green;
}

.lookuphotels-text h2 {
  margin: 0;
  margin-top: 57px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 26px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

.lookuphotels-text p {
  margin-bottom: 52px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: regular;
  color: #333333;
}

.search-in-sedona {
  width: 568px;
  height: 86px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #766357;
  border: none;
  /* Временно для сетки */
  outline: 3px dotted red;
}

.search-in-sedona:hover,
.search-in-sedona:focus {
  color: #ffffff;
  background-color: #604e43;
}

.search-in-sedona:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-search {
  width: 568px;
  height: 395px;
  display: flex;
  flex-direction: column;
  /* Временно для сетки */
  outline: 3px solid green;
}

.search-form {
  width: 568px;
  height: 395px;
  display: flex;
  flex-wrap: wrap;
  /* Временно для сетки */
  outline: 10px dotted blue;
}

.search-item {
  border: none;
  margin: 0;
  padding: 0;
}

.search-item ul {
  list-style: none;
}

.search label {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
}

.search input[type="date"] {
  display: inline-block;
  width: 346px;
  height: 38px;
  padding-left: 13px;
  margin-left: 21px;
  margin-top: 55px;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.search input[type="date"]:nth-child(2) {
  margin-top: 29px;
}

.search input[type="date"]:hover {
  color: #000000;
  background-color: #ebebeb;
}

.search input[type="date"]:focus {
  color: #000000;
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search input[type="number"] {
  display: inline-block;
  width: 38px;
  height: 38px;

  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
}

.min-max {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  margin-left: 41px;
  color: #a9a9a9;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}

.min-max:hover,
.min-max:focus {
  color: #000000;
  background-color: #ffffff;
}

.min-max:active {
  color: #81b3d2;
  background-color: #ffffff;
  outline: none;
}

.search-button {
  margin-bottom: 55px;
  width: 458px;
  height: 58px;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background-color: #81b3d2;
  border: none;
  /* Временно для сетки */
  outline: 3px dotted blue;
}

.search-button:hover,
.search-button:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.filters {
  width: 1200px;
  height: 217px;
  display: flex;
  justify-content: center;
  margin-bottom: 1px;
  background-image: url("../img/filter_background.jpg");
  background-size: 1200px 217px;
  background-repeat: no-repeat;
  /*временно для сетки*/
  outline: 3px dotted green;
}

.filter {
  display: flex;
  justify-content: space-around;
}

.filter-item {
  border: none;
}

.filter-item-input {
  list-style: none;
  color: #ffffff;
}

.legend-name {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
  font-weight: bold;
  color: #ffffff;
}

.filter-button {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  border: 2px solid #ffffff;
  background-color: transparent;
}

.container-hotels {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /*временно для сетки*/
  min-height: 657px;
  outline: 3px dotted black;
}

.filter-results {
  width: 1200px;
  height: 540px;
  display: flex;
  flex-direction: column;
  /*временно для сетки*/
  outline: 3px dotted red;
}

.results-item {
  width: 1200px;
  display: flex;
  flex-direction: column;
  /*временно для сетки*/
  outline: 3px dotted yellow;
}

.sorting {
  width: 1200px;
  display: flex;
  justify-content: space-around;
  /*временно для сетки*/
  min-height: 82px;
  outline: 3px dotted brown;
}

.sorting-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
    /*временно для сетки*/
  outline: 3px solid green;
}

.sorting-item {
  margin: 0;
  margin-right: 30px;
}

.found {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
}

.sorting-span {
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: regular;
  color: #000000;
  background-color: #ffffff;
}

.sorting a {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: regular;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.3);
  text-decoration-style: dotted;
}

.sorting a:focus {
  color: #81b3d2;
  text-decoration: none;
}

.sorting a:hover {
  color: #81b3d2;
  text-decoration: underline;
  text-decoration-color: #81b3d2;
  text-decoration-style: dotted;
}

.sorting a:active {
  color: #000000;
  text-decoration: none;
}

.hotels-list {
  margin: 0;
  padding: 0;
  width: 1200px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  /*временно для сетки*/
  min-height: 150px;
  outline: 3px dotted black;
}

.hotels-info {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
}

.hotels-info:hover,
.hotels-info:focus {
  color: #81b3d2;
  background-color: #ffffff;
}

.hotels-info:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
}

.hotels-type,
.hotels-price {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #ffffff;
}

.hotels-item .button {
  display: inline-block;
  width: 110px;
  height: 27px;
  margin-right: 6px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #81b3d2;
  text-align: center;
}

.hotels-item .button:hover,
.hotels-item .button:focus {
  background-color: #669ec0;
}

.hotels-item .button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.hotels-item .reserve {
  display: inline-block;
  width: 142px;
  height: 27px;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #766357;
  text-align: center;
}

.hotels-item .reserve:hover,
.hotels-item .reserve:focus {
  background-color: #604e43;
}

.hotels-item .reserve:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.reyting {
  font-size: 14px;
  line-height: 21px;
  color: #666666;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.main-footer {
  padding: 36px 0;
  margin-top: 1px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* Временно для сетки */
  min-height: 120px;
  outline: 3px solid red;
}

.footer-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
  /*временно для сетки*/
  max-height: 47px;
  outline: 3px dotted blue;
}

.footer-contacts a {
  width: 135px;
  margin-left: 133px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #ffffff;
  /* Временно для сетки */
  min-height: 23px;
  outline: 3px solid green;
}

.footer-social {
  text-align: center;
  width: 149px;
  margin-left: 257px;
  /* Временно для сетки */
  max-height: 47px;
  outline: 3px solid black;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  color: #ffffff;
  background-color: #81b3d2;
}

.social-button:hover,
.socal-button:focus {
  color: #ffffff;
  background-color: #669ec0;
}

.social-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.footer-copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  margin-left: 229px;
  /* Временно для сетки */
  min-height: 41px;
  background: none;
  outline: 3px solid brown;
}

.copyright-button {
  display: block;
  font-style: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: regular;
  text-transform: uppercase;
  background-color: #ffffff;
  padding-right: 115px;
  position: relative;
}

.copyright-button::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 74px;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.copyright-button:hover::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 74px;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-name-blue.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*временно*/
  background-color: #000000;
}

.copyright-button:active::after {
  content: "";
  position: absolute;
  top: -7px;
  left: 74px;
  width: 115px;
  height: 41px;
  background-image: url("../img/logo-name-grey.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*временно*/
  background-color: #000000;
}
/* .footer-copyright a {
  color: #000000;
  background-color: #ffffff;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #81b3d2;
  background-color: #ffffff;
}

.footer-copyright a:active {
  color: #bdbbbc;
  background-color: #ffffff;
} */
